---
layout: page
title: Blog
permalink: /blog/
meta-description: 'Latest blog posts from blog of Janis Yanis Kampe'
---
<h1 style="text-align: center;">Latest Posts</h1>
<ul class="blog-list">
  {% for post in site.posts limit:5 %}
  <li class="blog-item">
    {% if post.image %}
    <div class="blog-image-container">
      
      <a href="{{ post.url }}" class="blog-title">
        <img src="{{ post.image }}" alt="{{ post.image-alt}}" class="blog-image">
      </a>
    </div>
    {% endif %}
    <div class="blog-content">
      <div class="blog-title">
        <a href="{{ post.url }}" class="blog-title">{{ post.title }}</a>
      </div>
      <div class="blog-excerpt"><a href={{ post.url }}>{{ post.excerpt }}</a></div>
      <span class="blog-date">{{ post.date | date: "%-d %B %Y" }}</span>

      <div class="blog-socials-container">
        <div class="blog-socials">
          {% if post.medium-link %}
          <a href="{{ page.medium-link }}"><img src="/assets/images/socials/medium.svg" alt="medium logo"
              class="blog-socials-logo"></a>
          {% endif %}
          {% if post.dev-to-link %}
          <a href="{{ page.dev-to-link }}"><img src="/assets/images/socials/devto.svg" alt="dev.to logo"
              class="blog-socials-logo"></a>
          {% endif %}
        </div>
        <div class="blog-button-wrapper" style="justify-content: end;">
          <a href="{{ post.url }}" class="blog-button">Read Blog Post</a>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
  <li>
    <div class="blog-button-wrapper">
      <a href="/search" class="blog-button">Search for more posts</a>
    </div>
  </li>
</ul>

<script>
window.addEventListener('load', () => {
  const blogList = document.querySelector('.blog-list');
    if (blogList) {
        blogList.classList.add('loaded'); 
    }
    updateImageHeights();
});

function updateImageHeights() {
    // Only apply on desktop
    if (window.innerWidth > 768) {
        document.querySelectorAll('.blog-item').forEach(blogItem => {
            let contentHeight = blogItem.querySelector('.blog-content')?.offsetHeight;
            let imageContainer = blogItem.querySelector('.blog-image-container');
            let image = imageContainer?.querySelector('.blog-image');

            if (contentHeight && imageContainer && image) {
                imageContainer.style.height = contentHeight + 'px';

                let scaleValue = Math.max(0.375, Math.min(1, (contentHeight / 450)));

                image.style.transform = `scale(${scaleValue})`;
            }
        });
    } else {
        // Reset mobile
        document.querySelectorAll('.blog-item').forEach(blogItem => {
            let imageContainer = blogItem.querySelector('.blog-image-container');
            let image = imageContainer?.querySelector('.blog-image');

            if (imageContainer && image) {
                imageContainer.style.height = 'auto';
                image.style.transform = 'none';
            }
        });
    }
}

// Run on page load and whenever the window resizes
// window.addEventListener('load', updateImageHeights);
window.addEventListener('resize', updateImageHeights);


</script>