<header class="hero">
    <div class="hero-content">

        <div class="hero-image">
            <img src="/assets/images/myself.webp" alt="A descriptive alt text about you or your work">
        </div>
        <div class="hero-text">
            <h1 class="hero-title">Hi, I'm Jānis</h1>
            <h2 class="hero-name-pronounc">/ˈjænəs/</h2>

            <p class="hero-subtitle">
                a developer specialising in high-quality software. 
                <br>
                <br>
                I leverage 
                <b>test-driven development</b>
                and short feedback loops to ensure robust and adaptable solutions.
            </p>

            <!-- <div class="hero-ribbon">
                {% for social in site.data.socials %}
                    <a href={{social.link}}>
                        <img src="/assets/images/socials/{{ social.social | downcase }}.svg" alt="{{ social.alt }}" class="small-tech-logo">
                    </a>
                {% endfor %}
            </div> -->
            <div class="hero-cta-container">
                {% for social in site.data.socials %}
                <a href={{social.link}} class="hero-cta-link">
                    <img src="/assets/images/socials/{{ social.social | downcase }}.svg" alt="{{ social.alt }}">
                </a>
                {% endfor %}
                <a href="/blog" class="hero-cta">BLOG</a>
                <!-- <a href="/about" class="hero-cta">ABOUT ME</a> -->
            </div>
        </div>
    </div>
</header>