<div class="projects-container">
    <div class="projects-wrapper">
        {% for project in site.data.projects.projects %}
        <div class="project-card">
            <img src="{{ project.image }}" alt="{{ project.title }}" class="project-image">
            <h3 class="project-title">{{ project.title }}</h3>
            <p class="project-description">{{ project.description }}</p>
            <a href="{{ project.link }}" class="project-link" target="_blank" rel="noopener noreferrer">View Project</a>
        </div>
        {% endfor %}
    </div>
</div>
