body {
  opacity: 0;
}

body.loaded {
  opacity: 1;
}


.blog-list {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 800px;
}

.blog-item {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  gap: 20px; 
  transition: background 0.3s ease-in-out;
  align-items: flex-start;
}

.blog-item:hover {
  background: #f9f9f9;
}

.blog-image-container {
  border-radius: 8px;
  width: 150px;     
  max-height: 300px;
  overflow: hidden;
  display: flex;     
  align-items: center; 
  justify-content: center;
}

.image-container {
  width: 150px;      
  max-height: 300px; 
  overflow: hidden;  
  display: flex;     
  align-items: center; 
  justify-content: center; 
}

.blog-image {
  max-height: 100%;
  border-radius: 8px;
  object-fit: none;
}

.blog-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.blog-title,
.blog-excerpt,
.blog-date {
  text-align: left; 
}

.blog-date {
  margin-top: 8px;
}

.blog-excerpt a {
  text-decoration: none;
  color: black;
}

.blog-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease-in-out;
  margin-bottom: 5px;
}

.blog-title:hover {
  color: #0077cc;
}

.blog-excerpt {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: auto;
}

.blog-excerpt p {
  margin: 0;
}

.blog-date {
  font-size: 0.9rem;
  color: #888;
  align-self: flex-end;
}

.blog-socials-container {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.blog-socials {
  align-content: center; 

}

.blog-socials-logo {
  width: 42px;
}

.blog-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 12px 0px 12px 4px;
}

.blog-button {
  text-align: center;
  padding: 10px 20px;
  background: #ffaeae;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-family: $font-button;
  font-weight: bold;
}

.blog-button:hover {
  background: #ff6f6f;
}


@media (max-width: 600px) {
  .blog-image {
    transform: scale(1.0);
    object-fit: cover;
    width: 100%;
  }

  .blog-item {
    flex-direction: column; 
    align-items: stretch; 
  }

  .blog-image-container {
    flex: 0 0 auto;
    width: 100%; 
    margin-bottom: 10px; 
    max-height: 150px;
  }

  .blog-content {
    width:100%;
  }

}