.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 60px;
}

.timeline-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 75%;
  gap: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: 20px;
  align-items: center;
  background-color: transparent;

  @media (max-width: 980px) {
    width: 90%;
  };
}

.timeline-item:hover {
  transform: translateX(0) scale(1.1) rotate(0.5deg);
}

.timeline-item:hover:nth-child(even) {
  transform: translateX(0) scale(1.1) rotate(0.8deg);
}

.timeline-item:nth-child(even) {
  flex-direction: row-reverse;
  .timeline-content {
    justify-content: end;
  }
}

.timeline-content {
  font-size: 1.2rem;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  
}

.company-logo {
  width: 96px;
  border-radius: 50%;
}

.details h3 {
  margin: 0;
  font-weight: bold;
}

.details h4 {
  margin: 5px 0 10px;
  font-weight: normal;
  color: #555;
}

.details p {
  margin: 0;
  color: #666;
}
