$iterator-count: 2n;
$font-button: "Doto", serif;

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 60px;
}


.timeline-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 75%;
  gap: 20px;
  padding: 20px;
  align-items: center;
  background-color: transparent;

  cursor: pointer;
  transition: opacity 0.75s ease, visibility 0.75s ease, transform 0.3s ease, background-color 0.3s ease;

  @media (max-width: 768px) {
    width: 90%;
  };
}

.timeline-mobile {
  @media (max-width: 768px) {
    width: 90%;
    flex-direction: column !important;
  };
}


.timeline-item:hover {
  transform: translateX(0) scale(1.1) rotate(0.5deg);
}


.timeline-item:hover:nth-child(#{$iterator-count})  {
  transform: translateX(0) scale(1.1) rotate(0.8deg);
}

.timeline-item:nth-child(#{$iterator-count})  {
  flex-direction: row-reverse;
  .timeline-content {
    justify-content: end;
  }
}

.timeline-content {
  font-size: 1.2rem;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  
}

.company-logo {
  width: 96px;
  border-radius: 50%;


  @media (max-width: 768px) {
    width: 48px;
  };
}

.job-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.collapsible.open {
  max-height: 100%;
  opacity: 1;
}

.timeline-item:nth-child(even) .details-header {
  text-align: right;
}

.details h3 {
  margin: 0;
  font-weight: bold;
}

.details h4 {
  margin: 5px 0 10px;
  font-weight: normal;
  color: #555;
}

.details p {
  margin: 0;
  color: #666;
}


.technologies {
  display: flex;     
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 10px;
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tech-logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.tech-name {
  font-size: 0.9rem;
}


.small-technologies {
  display: flex;     
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 10px;
}


.timeline-item:nth-child(even) .small-technologies {
  flex-direction: row-reverse;
}

.small-tech-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.small-tech-logo {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

