
.landing-header {
    font-size: 2.5rem; 
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-top: 1px;
    position: relative;
}
.landing-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
}
@media (max-width: 768px) {
    .landing-header {
        font-size: 2rem;
    }
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $font-family;
}

.landing-content {
    text-align: center;
}

.chevron {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    opacity: 1;
    transition: opacity 0.3s;
    animation: bounce 1.2s infinite;
}

.chevron img {
    height: 64px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-40px);
    }
}
