// Define variables
$nav-bg-colour: #333;
$nav-text-colour: #fff;
$nav-height: 80px; 
$nav-height-mobile: 70px;
$nav-font-size: 1.2rem;

$font-family: "Courier New", Courier, monospace;




$breakpoint-768: 768px; // For screens <= 768px

@mixin respond-to-768 {
    @media (max-width: #{$breakpoint-768}) {
        @content;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $font-family;
    background-color: #f9f9f9;
    color: #333;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

// Navigation bar styles
nav {
    background-color: $nav-bg-colour;
    color: $nav-text-colour;
    height: $nav-height; 
    line-height: $nav-height;
    font-size: $nav-font-size;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 30px;

    // Adjust for screens <= 768px
    @include respond-to-768 {
        height: $nav-height-mobile;
        line-height: $nav-height-mobile;
        font-size: 1rem;
    }
}

nav a {
    color: $nav-text-colour;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }

    @include respond-to-768 {
        font-size: 0.9rem;
    }
}

.content-wrap {
    margin-top: $nav-height;

    @include respond-to-768 {
        margin-top: $nav-height-mobile;
    }
}

.content {
    min-height: calc(100vh - $nav-height);
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 800px;
    margin: 0 auto; /* centers the element inside the parent */
    text-wrap: auto;
    
    @include respond-to-768 {
        min-height: calc(100vh - $nav-height-mobile);
        width: 90%; /* Adjust for mobile if needed */
    }
}

.other-content {
    padding: 20px;
}
