<!doctype html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <div class="landing-wrap">
        <div class="content-landing">
            {% include hero.html %}
        </div>
        <div id="chevron" class="chevron">
            <img src="/assets/images/down.svg">
        </div>
        <header>
            <h1 class="landing-header">Projects</h1>
            <div class="other-content">
                {% include projects.html %}
            </div>
        </header>
        <!-- <header>
            <h1 class="landing-header">Achievements</h1>
            <div class="other-content">
                {% include achievements.html %}
            </div>
        </header> -->
    </div>
    <!-- <footer>
        {% include footer.html %}
    </footer> -->

</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const chevron = document.getElementById('chevron');
    const job_section_header = document.querySelector('.landing-header');
    const other_content = document.querySelector('.other-content');

    let jobSectionVisible = false;
    let otherContentVisible = false;

    const updateChevronVisibility = () => {
        if (jobSectionVisible || otherContentVisible) {
            chevron.style.opacity = '0';
        } else {
            chevron.style.opacity = '1';
        }
    };

    const other_content_observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            otherContentVisible = entry.isIntersecting;
            updateChevronVisibility();
        });
    });

    const job_section_observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            jobSectionVisible = entry.isIntersecting;
            updateChevronVisibility();
        });
    });

    if (other_content) other_content_observer.observe(other_content);
    if (job_section_header) job_section_observer.observe(job_section_header);
});


</script>
</html>